.titulo_pantalla {
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 64px;
    letter-spacing: -.01em;
}

.mes {
    border: 2px solid black;
}

.mes h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
} 

h3,
p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    letter-spacing: -.01em;
}

.contenedor_meses {
    display: grid;
    grid-template-columns: 25% 35% 25%;
    gap: 3%;
    justify-content: center;
    max-height: 500px;
    margin: 30px 0;
}

.contenedor_meses .mes:nth-child(even) {
    height: 500px;
}

.contenedor_meses .mes:nth-child(odd) {
    max-height: 400px;
}

.contenedor_meses .mes {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    background: linear-gradient(
        1deg,
        rgb(254, 254, 254) 0%,
        rgb(242, 208, 167) 100%
    );
}
.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion .subtitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informacion .subtitulo .btn_informacion img {
    height: 20px;
}

.informacion .subtitulo .btn_informacion {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
}
.informacion .subtitulo .btn_informacion:hover {
    cursor: pointer;
}

.mes .contenedor_informacion {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mes:nth-child(even) h2 {
    font-size: 64px;
}
.mes:nth-child(even) .contenedor_informacion .subtitulo {
    font-size: 24px;
    font-weight: 900;
}
.mes:nth-child(even) .contenedor_informacion p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.mes:nth-child(even) .contenedor_informacion .informacion:last-child p {
    font-size: 25px;
    font-weight: bold;
    color: #18ae00;
}

.mes:nth-child(odd) h2 {
    font-size: 40px;
}

.mes:nth-child(odd) .contenedor_informacion .subtitulo {
    font-size: 18px;
    font-weight: 900;
}

.mes:nth-child(odd) .contenedor_informacion p {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.mes:nth-child(odd) .contenedor_informacion .informacion:last-child p {
    font-size: 20px;
    font-weight: bold;
    color: #f92e05;
}

p {
    color: brown !important;
}

canvas {
    max-width: 90%;
    max-height: 500px;
    margin-top: 25px;
    display: flex;

}
.sales-chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 100px;
    align-items: center;
}

h2{
    font-family: 'SF Pro Display', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}
.sales-chart span{
    font-family: 'SF Pro Display', sans-serif;
}

.sales-chart #chartLegend{
    display: inline-block;
    margin-top: 50px;
}
