* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 0px 50px;
    position: relative;
}

.titulo_pantalla {
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 64px;
    letter-spacing: -0.01em;
}

.mes {
    border: 2px solid black;
}

.mes h2 {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
}

h3,
p {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
    letter-spacing: -0.01em;
}

.contenedor_meses {
    display: flex;
    gap: 3%;
    max-height: 500px;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    padding: 0 50px;
}

.contenedor-carrusel {
    display: flex;
    align-items: center;
    position: relative;
}

#izquierda,
#derecha {
    position: absolute;
    background: rgba(112, 110, 110, 0.3);
    border: none;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease all;
    z-index: 100;
}

#izquierda {
    left: 0;
}

#derecha {
    right: 0;
}

.botones-carrusel:hover {
    transform: scale(1.2);
}

.botones-carrusel:active {
    transform: scale(1.1);
}

#izquierda i,
#derecha i {
    font-size: 50px;
    color: #000;
}

.contenedor_meses .mes {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    background: linear-gradient(
        1deg,
        rgb(254, 254, 254) 0%,
        rgb(242, 208, 167) 100%
    );

    height: 500px;
    min-width: 31.3%;

    position: relative;
}
.informacion {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.informacion span {
    font-family: "SF Pro Display", sans-serif;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.informacion .subtitulo {
    max-width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.informacion .subtitulo h3 {
    text-align: center;
}

.mes .contenedor_informacion {
    max-width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.mes h2 {
    font-size: 64px;
}
.mes .contenedor_informacion p {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

canvas {
    max-width: 90%;
    max-height: 500px;
    margin-top: 25px;
    display: flex;
}
.sales-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 100px;
    align-items: center;
}

h2 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}
.sales-chart span {
    font-family: "SF Pro Display", sans-serif;
}

.sales-chart #chartLegend {
    display: inline-block;
    margin-top: 50px;
}

.porcentajeCD.crecimiento {
    color: rgb(54, 180, 54) !important;
}

.porcentajeCD.decrecimiento {
    color: red !important;
}
